@import url('./root.css');
@import url('./fonts.css');

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--font-family);
  background: #131414;
  color: #fff;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol li,
ul li {
  margin: 1.5rem 0;
}
canvas {
  display: block;
  background-color: #111;
}

button {
  padding: 10px;
  font-size: 12px;
  font-weight: 800;
  background-color: #242728;
  border: 0;
  border-radius: 1vh;
  color: #fff;
}
button:hover {
  cursor: pointer;
  background-color: #343b3d;
}
@media (min-height: 500px) {
  button {
    font-size: 2.2vh;
  }
}

