:root {
  /* colors */
  --primary-color: #21d48d;
  --bg-color-solid: #111c1c;
  --bg-color: rgba(17, 28, 28, 0.9);
  --text-color: #FFF;
  --text-disabled: #aaa;

  /* text */
  --base-font-size: 1.3vh;
  --small-text-size: 0.7vw;
  --medium-text-size: 1.2vh;
  --large-text-size: 2.4vh;
  --unit-text-size: 0.4vw;
  
  /* spacing */
  --border-radius: 0.5vh;
  --grid-size: 20px;
}

/* @media (min-width: 640px) {
  :root {
    --base-font-size: 1.3vh;
    --small-text-size: 0.7vw;
    --medium-text-size: 1.2vw;
    --large-text-size: 2.4vh;
    --unit-text-size: 0.4vw;
  }
} */

@media (max-aspect-ratio: 7/3) {
  :root {
    --grid-size: 0.8vw;
    --medium-text-size: 1.2vw;
    --large-text-size: 2.4vh;
    --unit-text-size: 0.4vw;
  }
}