@import url('./fonts.css');

:root {
  /* colors */
  --font-family: 'Rubik', Roboto, Helvetica, Arial, sans-serif;
  --primary-color: #21d48d;
  --hover-bg-color: rgb(255, 255, 255, 0.06);
  --active-bg-color: rgb(0, 0, 0, 0.3);
  --text-color: #ffffff;
  --bg-color-solid: #111c1c;
  --bg-color: rgba(17, 28, 28, 0.9);
  --text-disabled: #7e9a9a;
  --border-color: rgba(255, 255, 255, 0.2);

  
  /* spacing */
  --border-radius: 0.6vh;
  --grid-size: 5px;
  --base-padding: var(--grid-size);

  /* text */
  --base-font-size: 11px;
  --small-font-size: 8px;
  --medium-font-size: 12px;
  --large-font-size: 14px;
  --unit-font-size: 7px;

  --shot-data-grid: repeat(2, 1fr);
}

@media (min-height: 480px) {
  :root {
    /* spacing */
    --border-radius: 0.6vh;
    --grid-size: 1.25vh;
    --base-padding: var(--grid-size);

    /* text */
    --base-font-size: 1.6vh;
    --small-font-size: 1.2vh;
    --medium-font-size: 1.7vh;
    --large-font-size: 2.1vh;
    --unit-font-size: 0.9vh;
    --shot-data-grid: repeat(1, 1fr);
  }
}

/* @media (min-width: 640px) {
  :root {
    --base-font-size: 1.3vh;
    --small-font-size: 0.7vw;
    --medium-font-size: 1.2vw;
    --large-font-size: 2.4vh;
    --unit-font-size: 0.4vw;
  }
} */

/* @media (max-aspect-ratio: 7/3) {
  :root {
    --grid-size: 0.8vw;
    --medium-font-size: 1.2vw;
    --large-font-size: 2.4vh;
    --unit-font-size: 0.4vw;
  }
} */